body, html {
	height: 100%;
}

.container {
	height: 100%;
}

.output {
	width: 100%;
	margin-top: 20px;
	overflow:scroll;
}

.entry {
	font-size: 2vw;
	margin-left: 20px;
	padding: 2px;
	font-family: 'Inconsolata', monospace;
}

.form-container {
	width: 100%;
}

.entry:nth-child(odd) {
   background-color: #F0F8FF;
}

.form-container {
	padding-right: 0px;
}

.content {
	height: 50%;
}